<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="192x192" href="images/theme-icon.png" />
    <title>Ishia Developers</title>
    <link rel="stylesheet" href="./Css/main.css" />
  </head>
  <body>
    <img src="" alt="">
    <h1>Ishia Developers</h1>
    <h1>---------------------------</h1>
    <a href="/signin"><h1>Signin</h1></a>
    <a href="/login"><h1>Login</h1></a>
    <a href="/dashboard"><h1>Dashboard</h1></a>
  </body>
</html>
