<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="192x192" href="images/theme-icon.png" />
    <title>Ishia Developers</title>
    <link rel="stylesheet" href="./Css/main.css">
  </head>
  <body>
    <form action="/login" method="POST" enctype="multipart/form-data">
      <label>Email<input type="text" name="username"></label>
      <label>password<input type="text" name="password"></label>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
